### Read data from income.csv and scale the relevant features using standardization

In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
df= pd.read_csv('income.csv')
features = ['Age', 'Income']
scaler = StandardScaler()
scaler.fit(df[features])
df[features] = scaler.transform(df[features])
print(df)

        Name       Age    Income  Buy
0        Rob -1.356055 -0.480684  Yes
1    Michael -1.009157 -0.010159   No
2      Mohan -1.009157 -0.692421  Yes
3     Ismail -1.182606 -0.715947  Yes
4       Kory  1.245679  1.401417   No
5     Gautam  0.725332  1.519048  Yes
6      David  1.072230  1.636679  Yes
7     Andrea  0.551883  1.683732   No
8       Brad  0.204985  1.542574  Yes
9   Angelina  0.031536  0.930891   No
10    Donald  0.378434  1.095575   No
11       Tom -1.529504 -1.068841   No
12    Arnold -1.356055 -0.998262  Yes
13     Jared -1.182606 -0.927683   No
14     Stark -1.009157 -0.962973   No
15    Ranbir -0.488811 -0.880631   No
16    Dipika  0.898781 -0.598316  Yes
17  Priyanka  1.072230 -0.645368   No
18      Nick  1.419128 -0.621842  Yes
19      Alia  0.725332 -0.245422   No
20       Sid  1.072230 -0.198369  Yes
21     Abdul  0.725332 -0.762999   No

In [4]:
import pandas as pd

data = {
    'Car Model': ['BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22500, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell Price($)': [18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age(yrs)': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 7, 7, 5]
}

df = pd.DataFrame(data)

df_encode = pd.get_dummies(df, columns=['Car Model'], prefix=['Car'])

print(df_encode)

    Mileage  Sell Price($)  Age(yrs)  Car_Audi A5  Car_BMW X5  \
0     69000          18000         6            0           1
1     35000          34000         3            0           1
2     57000          26100         5            0           1
3     22500          40000         2            0           1
4     46000          31500         4            0           1
5     59000          29400         5            1           0
6     52000          32000         5            1           0
7     72000          19300         6            1           0
8     91000          12000         8            1           0
9     67000          22000         6            0           0
10    83000          20000         7            0           0
11    79000          21000         7            0           0
12    59000          33000         5            0           0

    Car_Mercedez Benz C class
0                           0
1                           0
2                           0
3                           0
4                           0
5                           0
6                           0
7                           0
8                           0
9                           1
10                          1
11                          1
12                          1

In [8]:
import pandas as pd

dataVal= {
    'Car Model': ['BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'BMW X5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22500, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell Price($)': [18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age(yrs)': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 7, 7, 5]
}

df = pd.DataFrame(dataVal)

encode = pd.get_dummies(df, columns=['Car Model'], prefix=['Car'])

print(encode)

    Mileage  Sell Price($)  Age(yrs)  Car_Audi A5  Car_BMW X5  \
0     69000          18000         6            0           1
1     35000          34000         3            0           1
2     57000          26100         5            0           1
3     22500          40000         2            0           1
4     46000          31500         4            0           1
5     59000          29400         5            1           0
6     52000          32000         5            1           0
7     72000          19300         6            1           0
8     91000          12000         8            1           0
9     67000          22000         6            0           0
10    83000          20000         7            0           0
11    79000          21000         7            0           0
12    59000          33000         5            0           0

    Car_Mercedez Benz C class
0                           0
1                           0
2                           0
3                           0
4                           0
5                           0
6                           0
7                           0
8                           0
9                           1
10                          1
11                          1
12                          1