In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.read_csv('Test.csv') #import data in Test.csv file

df = pd.DataFrame(data)

train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

print("Training set:")
print(train_df)

print("\nTesting set:")
print(test_df)

Training set:
    Mileage  Age  Price
8     91000    8  12000
5     59000    5  26750
11    79000    7  19500
3     22500    2  40000
18    87600    8  12800
16    28000    2  35500
13    58780    4  27500
2     57000    5  26100
9     67000    6  22000
19    52000    5  28200
4     46000    4  31500
12    59000    5  26000
7     72000    6  19300
10    83000    7  18700
14    82450    7  19400
6     52000    5  32000

Testing set:
    Mileage  Age  Price
0     69000    6  18000
17    69000    5  19700
15    25400    3  35000
1     35000    3  34000

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Create the dataframe
df = pd.DataFrame({
   'Mileage': [69000, 35000, 57000, 22500, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000, 58780, 82450, 25400, 28000, 69000, 87600, 52000],
    'Age': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 7, 7, 5, 4, 7, 3, 2, 5, 8, 5],
    'Price': [18000, 34000, 26100, 40000, 31500, 26750, 32000, 19300, 12000, 22000, 18700, 19500, 26000, 27500, 19400, 35000, 35500, 19700, 12800, 28200]
})

X_train, X_test, y_train, y_test = train_test_split(df[["Mileage", "Age" , "Price"]], df["Price"], test_size=0.2, random_state=42)